@font-face {
  font-display: swap;
  font-family: 'Bebas-Neue';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bebas_neue.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/sf_pro_300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sf_pro_400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/sf_pro_500.woff2') format('woff2');
}

.font-bebas {
  font-family: 'Bebas-Neue', sans-serif;
}

body {
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../img/main-bg.jpg");
  font-family: "SF-Pro", sans-serif;
}

.bg-telegram {
  background-position: top right;
  background-attachment: fixed;
  background-image: url("../img/telegram-bg.jpg");
}


.border-linear {
  border: 1px solid transparent;
  border-image: linear-gradient(0, #E9DADE, #F10657) 1;
  border-radius: 18px;
}

.gradient-border {
  position: relative;
  padding: 20px;
  background-color: white;
  border-radius: 18px;
}

.gradient-border::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: linear-gradient(0, #E9DADE, #F10657);
  border-radius: 18px;
  z-index: -1;
}

.highlight-red {
  color: #990C3D;
}

.gradient-button {
  background: #F10657;
}

.teacher-label {
  background: #E7D9DB;
}

.bg-whitish {
  background: rgba(255, 255, 255, 0.4);
}

.telegram-radial {
  background-image: radial-gradient(#1F6588, #279FDB);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body {
    background-image: url("../img/main-bg@2x.jpg");
  }
  .bg-telegram {
    background-image: url("../img/telegram-bg@2x.jpg");
  }
}

@media only screen and (max-width: 1024px) {
  body, .bg-telegram {
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
  }
  body {
    background-image: url("../img/mobile-bg.png");
  }
  .bg-telegram {
    background-image: url("../img/mobile-telegram-bg.png");

  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  @media only screen and (max-width: 1024px) {
    body, .bg-telegram {
      background-position: top center;
      background-size: cover;
      background-attachment: fixed;
    }
    body {
      background-image: url("../img/mobile-bg@2x.png");
    }
    .bg-telegram {
      background-image: url("../img/mobile-telegram-bg@2x.png");

    }
  }
}
