@font-face {
  font-display: swap;
  font-family: 'Bebas-Neue';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bebas_neue.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/sf_pro_300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sf_pro_400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'SF-Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/sf_pro_500.woff2') format('woff2');
}

.font-bebas {
  font-family: 'Bebas-Neue', sans-serif;
}

body {
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../img/bg_main@1x.jpg");
  font-family: "SF-Pro", sans-serif;
  color: #ffffff;
}

.bg-telegram {
  background-position: top right;
  background-attachment: fixed;
  background-image: url("../img/bg_telegram@1x.jpg");
}

.gradient-button {
  background: linear-gradient(#D43333, #FF0000);
}

.teacher-label {
  background: radial-gradient(61.3% 66.78% at 50% 104.95%, rgba(255, 211, 162, 0.2) 0%, rgba(254, 255, 211, 0.01) 100%),
  linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03));
}

.telegram-radial {
  background-image: radial-gradient(#1F6588, #279FDB);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body {
    background-image: url("../img/bg_main@2x.jpg");
  }

  .bg-telegram {
    background-image: url("../img/bg_telegram@2x.jpg");
  }
}

@media only screen and (max-width: 1024px) {
  body, .bg-telegram {
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../img/bg_mobile@1x.jpg");
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  @media only screen and (max-width: 1024px) {
    body, .bg-telegram {
      background-position: bottom center;
      background-size: cover;
      background-attachment: fixed;
      background-image: url("../img/bg_mobile@2x.jpg");
    }
  }
}
